{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "comma-dangle": 0,
    "jsx-quotes": 1,
    "react/jsx-no-target-blank": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0
  },
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  }
}